.singleBeerSection {
  max-width: 1200px;
  color: var(--primary-text);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: 48em) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
}

.beerName {
  font-size: 3.75rem;
  color: var(--header-text);
}

.tagline {
  font-size: 1.875rem;
  font-weight: 300;
  margin-top: -0.5rem;
  color: var(--secondary-text);
}

.description {
  font-size: 1.25rem;
  max-width: 800px;
  color: var(--primary-text);
  margin-top: 1rem;
}

.imageContainer {
  position: relative;
  width: 12rem;
  height: 12rem;
  display: none;

  @media (min-width: 48em) {
    display: block;
  }
}

.beerImage {
  object-fit: contain;
  object-position: top;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  flex-direction: column;

  @media (min-width: 48em) {
    flex-direction: row;
  }
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
}

.ingredientsTitle {
  font-weight: 600;
  font-size: 1.875rem;
  color: var(--header-text);
  margin-bottom: 0.5rem;
}

.ingredientType {
  font-weight: 500;
  color: var(--primary-text);
  margin-top: 0.5rem;
}

.ingredientList {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.ingredientListItem {
  color: var(--primary-text);
  margin-bottom: 0.25rem;
}

.detailsList {
  max-width: 300px;
  margin-top: 0.5rem;
  list-style: none;
  padding-left: 0;
}

.detailsListItem {
  margin-bottom: 0.75rem;

  &.firstBrewedItem {
    margin-top: 1rem;
  }
}

.detailsTitle {
  font-weight: 600;
  font-size: 1.875rem;
  color: var(--header-text);
  margin-bottom: 0.5rem;
}

.detailsLabel {
  font-weight: 500;
  color: var(--primary-text);
}

.detailsValue {
  color: var(--secondary-text);
}
