.layoutContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 6vh; 
  padding-bottom: 6vh; 
  padding-left: 6rem; 
  padding-right: 6rem; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
  background-color: var(--secondary-bg); 
}

.lightThemeSpecific {
  background-image: url('/lightbg.jpg');
}


.contentWrapper {
  backdrop-filter: blur(10px);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  margin-left: 1.6rem; 
  border-radius: 15px; 
  
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
  transition: 0s; 
  border-width: 0px;
  border-style: solid;
  border-color: var(--border-main);
  height: 100%;
  background-color: var(--content-bg);
}

body[data-theme='dark'] .contentWrapper {
  box-shadow: var(--box-shadow-dark);
}

.contentBox {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}


@media (max-width: 1200px) { 
  .layoutContainer {
    padding-top: 5rem; 
    padding-bottom: 0rem; 
    padding-left: 0rem; 
    padding-right: 0rem; 
  }
  .contentWrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    border-radius: 0;
  }
}

@media (min-width: 1536px) { 
  .layoutContainer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
