.themeToggleButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99999;
  background-color: var(--button-transparent-bg); 
  color: var(--button-transparent-text); 
  border: 1px solid var(--button-transparent-border-color); 
  border-radius: 0.375rem; 
  padding: 0.5rem 1rem; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeToggleButton:hover {
  background-color: var(--button-transparent-hover-bg); 
  color: var(--button-transparent-hover-text); 
  border-color: var(--button-transparent-hover-border-color); 
}

.icon {
  width: 1.2em; 
  height: 1.2em; 
  fill: currentColor; 
}

@media (min-width: 1536px) { 
  .themeToggleButton {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
