.calculatorContainer {
  background-color: var(--calculator-bg);
  border-radius: 15px;
  box-shadow: var(--box-shadow);

  margin: 1rem auto;
  max-width: 21.5rem;
  color: var(--primary-text);
  border: 1px solid var(--border-gray);
  @media (min-width: 768px) {
    margin: -2rem auto 0;
    max-width: 22.5rem;
  }
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
  padding: 0 0.7rem 0.7rem 0.7rem;
}
