.dayWeatherGrid {
  display: grid;
  gap: 1rem; 
  text-align: center;
  padding-bottom: 3rem;
  color: var(--primary-text);


  grid-template-columns: 1fr;

  @media (min-width: 768px) { 
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) { 
    grid-template-columns: repeat(4, 1fr);
  }
}

.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  padding: 0.5rem; 
  border-radius: 4px;
  transition: 200ms;

  &:hover {
    box-shadow: var(--box-shadow); 
  }

  .time {
    margin: 0;
  }

  .conditionText {
    text-transform: capitalize;
    font-size: 0.875rem; 
    font-weight: 400;
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0; 
    width: 80%; 
    
    @media (min-width: 48em) { 
        width: 80%;
    }
  }

  .temperature {
    font-size: 1.125rem; 
    margin-top: 0.5rem;
    font-weight: 600;
    margin: 0;
  }
}

.skeletonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; 
  height: 20vh;
}

.skeleton {
  height: 2rem;
  width: 80%; 
  background-color: var(--secondary-bg);
  border-radius: 4px;
  opacity: 0.7;
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
}
