.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--header-text);
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.formLabel {
  margin-bottom: 0;
  font-weight: 400;
  color: var(--input-label);
  margin-right: 0.5rem;
}

.geolocationToggleContainer {
  margin-bottom: 1.2rem;
}

.getLocationButtonContainer {
  margin-top: 1rem;
  width: 12rem;
}

.cityForm {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.cityInput {
  width: 18rem;
  max-width: 18rem;
  padding: 0.5rem;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  color: var(--primary-text);
  border-radius: 0.25rem;
}

.cityInput::_placeholder {
  color: var(--secondary-text);
}

.cityInput_focus {
  border-color: var(--input-border-hover);
  box-shadow: 0 0 0 1px var(--input-border-hover);
}


.checkButtonContainer {
  margin-left: 1rem;
  width: 10rem;
  max-width: 10rem;
}

.alertError {
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--error-color);
  background-color: rgba(252, 129, 129, 0.1);
  color: var(--error-color);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}

.alertIcon {
  margin-right: 0.5rem;
  fill: var(--error-color);
}


@media (max-width: 768px) {
  .cityForm {
    flex-direction: column;
    align-items: center;
  }

  .checkButtonContainer {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
